@font-face {
    font-family: 'Pokemon-Solid';
    src: url('../assets/fonts/Pokemon-Solid.ttf');
}

body{
    font-family: 'Pokemon-Solid', sans-serif;
    //background-color: var(--grey);
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    overflow: hidden;
}

main{
    display: flex;
}