@font-face {
    font-family: 'Pokemon-Solid';
    src: url('../assets/fonts/Pokemon-Solid.ttf');
}

body{
    font-family: 'Pokemon-Solid', sans-serif;
    background-color: var(--grey);
    overflow: hidden;
}

main{
    display: flex;
}