@import 'normalize.css';
@font-face {
  font-family: "Pokemon-Solid";
  src: url("../assets/fonts/Pokemon-Solid.ttf");
}
body {
  font-family: "Pokemon-Solid", sans-serif;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  overflow: hidden;
}

main {
  display: flex;
}

:root {
  --red: #ee1c25;
  --darkRed: #a60000;
  --white:#e8e8e8;
  --blue: #2787f5;
  --darkBlue: #00436e;
  --grey: #858585;
  --yellow: #ffcb05;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid var(--white);
  display: none;
}
.header__title {
  color: var(--white);
  -webkit-text-stroke: 1px black;
  letter-spacing: 3px;
}

.game {
  width: 50%;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.game__image {
  width: 40%;
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px;
  filter: brightness(0);
  z-index: 91;
}
.game__image--show {
  transition: filter 1s;
  filter: brightness(1);
  animation-name: caught;
  animation-duration: 0.5s;
  animation-delay: 2s;
}
.game__image--error {
  transition: transform 1s;
  transform: translateX(-40vw);
}
.game__answers {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  line-height: 2;
  font-size: 2rem;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 6px;
}
.game__answers li {
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}
.game__answers li:hover {
  color: var(--yellow);
  -webkit-text-stroke: 2px var(--blue);
  transform: scale(1.1);
}

@keyframes caught {
  from {
    filter: contrast(100%);
  }
  to {
    filter: contrast(0%);
  }
}
.loader {
  position: relative;
}
.loader__pokeball-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  animation: tremor infinite 0.3s linear;
}
.loader__pokeball {
  background-image: linear-gradient(var(--red) 50%, var(--white) 50%);
  border-radius: 50%;
  border: 14px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate infinite 1s linear;
}
.loader__pokeball::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 14px;
  background-color: black;
}
.loader__pokeball::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  border: 14px solid black;
  z-index: 100;
}
.loader__text {
  position: absolute;
  top: 350px;
  left: 200px;
  transform: translateX(-50%);
  font-size: 2rem;
  letter-spacing: 5px;
  color: var(--yellow);
  -webkit-text-stroke: 2px var(--blue);
  animation: scale infinite alternate 1s linear;
}
.loader__text::after {
  content: "";
  background-color: red;
  position: absolute;
  width: 40px;
  height: 10px;
  top: 24px;
  transform: translateX(-35px);
  animation: move steps(1) infinite 2s;
}
@keyframes move {
  0% {
    transform: translateX(-5px);
  }
  33% {
    transform: translateX(-25px);
  }
  66% {
    transform: translateX(-15px);
  }
}
@keyframes scale {
  to {
    transform: translateX(-50%) scale(1.1);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes tremor {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.pokedex {
  background-color: var(--red);
  height: 76vh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  padding: 20px;
  gap: 50px;
  overflow: scroll;
  border-radius: 15px;
  margin-top: 20px;
}
.pokedex-container {
  width: 70%;
  height: 80vh;
  margin-left: auto;
  background-color: var(--red);
  border-radius: 15px;
}
.pokedex__card {
  perspective: 1000px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: var(--darkBlue);
  box-shadow: 3px 3px 0px #003658;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.pokedex__card img {
  border: 4px solid var(--yellow);
  border-radius: 15px;
  background-color: var(--blue);
}
.pokedex__card p {
  font-size: 14px;
}
.pokedex__card h2 {
  text-transform: capitalize;
  color: var(--yellow);
  -webkit-text-stroke: 2px var(--blue);
}
.pokedex__card--show {
  background-color: var(--blue);
}
.pokedex__card--show .pokedex__pokeball::before {
  background-color: var(--blue);
}
.pokedex__pokeball {
  position: absolute;
  border: 10px solid black;
  border-radius: 50%;
  width: 165px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.pokedex__pokeball::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 10px;
}
.pokedex__pokeball::before {
  content: "?";
  position: absolute;
  display: block;
  background-color: var(--darkBlue);
  border: 10px solid black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.front, .back {
  position: absolute;
  width: 200px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
  color: #FFF;
  font: 1em/1.8em Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(180deg);
  background: #a60000;
  background: radial-gradient(circle, #a60000 33%, #ee1c25 100%);
  border-radius: 20px;
  border: 4px solid var(--yellow);
}

.rotate {
  transform: rotateY(180deg);
}

.normal {
  transform: rotateY(0deg);
}

.caught {
  position: relative;
  left: 44%;
  top: -20vh;
  z-index: 100;
}
.caught__pokeball-container {
  width: 50px;
  height: 50px;
  position: absolute;
}
.caught__pokeball {
  background-image: linear-gradient(var(--red) 50%, var(--white) 50%);
  border-radius: 50%;
  border: 4px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caught__pokeball::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
}
.caught__pokeball::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white);
  border: 4px solid black;
  z-index: 100;
}

@keyframes pokeballMove {
  15% {
    filter: invert(50%);
    transform: translateY(65vh);
  }
  20% {
    filter: invert(0%);
    transform: translateY(65vh);
  }
  25% {
    filter: invert(50%);
    transform: translateY(65vh);
  }
  30% {
    filter: invert(0%);
    transform: translateY(65vh);
  }
  35% {
    filter: invert(50%);
    transform: translateY(65vh);
  }
  40% {
    filter: invert(0%);
    transform: translateY(65vh);
  }
  45% {
    filter: invert(0%);
    transform: translateY(65vh);
  }
  50% {
    transform: translateY(65vh) translateX(50vw);
  }
  55% {
    filter: opacity(0.5);
    transform: translateY(65vh) translateX(50vw);
  }
  60% {
    filter: opacity(0);
    transform: translateY(65vh) translateX(50vw);
  }
  100% {
    filter: opacity(0);
  }
}
.caught-anim {
  animation: pokeballMove;
  animation-duration: 5s;
}

.device {
  border-radius: 15px;
}

.device-container {
  background-color: var(--red);
  border-radius: 15px;
  border-top-right-radius: none;
  border-left: 10px solid var(--darkRed);
  border-bottom: 10px solid var(--darkRed);
  position: relative;
  box-shadow: -10px 10px 15px grey;
  height: 92vh;
}

.top {
  display: flex;
  clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
  background-color: var(--darkRed);
  height: 100px;
  border-top-left-radius: 15px;
  border-radius: 15px;
}

.top-circles {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: red;
  clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
  border-radius: 15px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  margin: 10px 0 10px 10px;
}
.circle-big {
  width: 60px;
  height: 60px;
}
.circle-big::after {
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid black;
  left: 19px;
  top: 15px;
  position: absolute;
  background-color: #05fafb;
}
.circle-big::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
  left: 32px;
  top: 20px;
  z-index: 100;
}
.circle-red {
  background-color: #f50909;
}
.circle-red::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #ff6268;
  clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
  left: 89px;
  top: 14px;
  z-index: 100;
}
.circle-yellow {
  background-color: #ffe700;
}
.circle-yellow::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #feff85;
  clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
  left: 123px;
  top: 14px;
  z-index: 100;
}
.circle-green {
  background-color: #4ffb11;
}
.circle-green::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #c7ffa4;
  clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
  left: 158px;
  top: 14px;
  z-index: 100;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.screen {
  margin: 30px 30px 0 30px;
  padding: 0 0 10px 10px;
  border-radius: 20px;
  background-color: #6a6a70;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
}
.screen-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #ddded9;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
}
.screen-display {
  border: 2px solid black;
  background-color: var(--blue);
  width: 300px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.screen-display-mount {
  background-color: green;
  border-radius: 100%;
  width: 62%;
  top: 130px;
  height: 50px;
  position: absolute;
  z-index: 90;
}
.screen-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 10px;
  transform: translateX(-120px);
  background-color: var(--red);
}

.botton-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 260px;
  justify-items: center;
  align-items: center;
}
.botton .buttom {
  width: 40px;
  height: 40px;
  background-color: var(--darkBlue);
  border-radius: 50%;
  position: relative;
  border: 3px solid black;
}
.botton .buttom::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: var(--blue);
  left: 1px;
  bottom: 1px;
}
.botton .botton__rectangle-buttom {
  --ledWon: #56fd00;
  --ledLose: #f96002;
  justify-self: left;
  width: 100px;
  height: 20px;
  border-radius: 30px;
}
.botton .botton__rectangle-buttom::before {
  width: 100px;
  height: 20px;
  border-radius: 30px;
}
.botton .botton__rectangle-buttom-green {
  background-color: #196a2f;
}
.botton .botton__rectangle-buttom-green::before {
  background-color: var(--ledWon);
}
.botton .botton__rectangle-buttom-orange {
  background-color: #840b12;
  transform: translateX(30px);
}
.botton .botton__rectangle-buttom-orange::before {
  background-color: var(--ledLose);
}
.botton .answers-container {
  background-color: #e2e213;
  border-radius: 30px;
  border: 3px solid black;
  grid-column: 1/4;
  padding: 0 30px 0 30px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.botton .answers-container ul {
  font-size: 24px;
}

.botton-pad {
  grid-column: 4/5;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 3vw 3vw 3vw 3vw;
  grid-template-rows: 3vw 3vw 3vw 3vw;
}
.botton-pad .pad-button {
  width: 3vw;
  height: 3vw;
  background-color: #086364;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
}
.botton-pad .pad-button::before {
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  background-color: #004e50;
  border: 3px solid black;
  border-radius: 10px;
  left: 1px;
  bottom: 1px;
}
.botton-pad .pad-top {
  grid-column: 2/3;
  grid-row: 1/2;
  border-bottom: none;
}
.botton-pad .pad-top::before {
  border-bottom: none;
}
.botton-pad .pad-right {
  grid-column: 3/4;
  grid-row: 2/3;
  border-left: none;
}
.botton-pad .pad-right::before {
  border-left: none;
}
.botton-pad .pad-bottom {
  grid-column: 2/3;
  grid-row: 3/4;
  border-top: none;
}
.botton-pad .pad-bottom::before {
  border-top: none;
}
.botton-pad .pad-left {
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: none;
  z-index: 110;
}
.botton-pad .pad-left::before {
  border-right: none;
}
.botton-pad .pad-center {
  grid-column: 2/3;
  grid-row: 2/3;
  border: none;
  z-index: 100;
  left: 3px;
  background-color: #004e50;
}
.botton-pad .pad-center::before {
  border: none;
  background-color: #004e50;
}

.top2 {
  clip-path: polygon(0 0, 0 40%, 46% 40%, 70% 100%, 100% 100%, 100% 0);
}

.top-circles2 {
  clip-path: polygon(0 0, 0 40%, 46% 40%, 70% 100%, 100% 100%, 100% 0);
}

.main {
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
