.device{
    border-radius: 15px;
}
.device-container{
    background-color:var(--red);
    border-radius: 15px;
    border-top-right-radius:none;
    border-left: 10px solid var(--darkRed);
    border-bottom: 10px solid var(--darkRed);
    position: relative;
    box-shadow: -10px 10px 15px grey;
    height: 92vh;
}

.top{
    display: flex;
    clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
    background-color: var(--darkRed);
    height: 100px;
    border-top-left-radius: 15px;
    border-radius: 15px;
    //border-top-right-radius: 15px;
}

.top-circles{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: red;
    clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
    border-radius: 15px;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    margin: 10px 0 10px 10px;

    &-big{
        width: 60px;
        height: 60px;

        &::after{
            content: '';
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 2px solid black;
            left: 19px;
            top: 15px;
            position: absolute;
            background-color: #05fafb;
        }
        &::before{
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            background-color: white;
            clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
            left: 32px;
            top: 20px;
            z-index: 100;
        }
    }

    &-red{
        background-color: #f50909;

        &::before{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #ff6268;
            clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
            left: 89px;
            top: 14px;
            z-index: 100;
        }
    }
    &-yellow{
        background-color: #ffe700;
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #feff85;
            clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
            left: 123px;
            top: 14px;
            z-index: 100;
        }
    }
    &-green{
        background-color: #4ffb11;
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #c7ffa4;
            clip-path: polygon(5% 25%, 14% 19%, 24% 14%, 34% 12%, 53% 14%, 72% 19%, 89% 24%, 97% 36%, 96% 50%, 82% 60%, 66% 70%, 54% 73%, 40% 71%, 25% 69%, 16% 66%, 8% 58%, 2% 45%, 3% 34%);
            left: 158px;
            top: 14px;
            z-index: 100;
        }
    }
}

.screen-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.screen{
    margin: 30px 30px 0 30px;
    padding: 0 0 10px 10px;
    border-radius: 20px;
    background-color: #6a6a70;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
    
    &-container{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #ddded9;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
    }
    &-display{
        border: 2px solid black;
        background-color: var(--blue);
        width: 300px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-mount{
            background-color: green;
            border-radius: 100%;
            width: 62%;
            top: 130px;
            height: 50px;
            position: absolute;
            z-index: 90;
        }
    }

    &-button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid black;
        margin-top: 10px;
        transform: translateX(-120px);
        background-color: var(--red);
    }
}

.botton{
    
    &-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px 260px;
        justify-items: center;
        align-items: center;
    }

    .buttom{
        width: 40px;
        height: 40px;
        background-color: var(--darkBlue);
        border-radius: 50%;
        position: relative;
        border: 3px solid black;

        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid black;
            background-color: var(--blue);
            left: 1px;
            bottom: 1px;
        }
    }

    .botton__rectangle-buttom {
        --ledWon: #56fd00;
        --ledLose: #f96002;

        justify-self: left;

        width: 100px;
        height: 20px;
        border-radius: 30px;
        
        
        &::before{
            width: 100px;
            height: 20px;
            border-radius: 30px;
        }

        &-green{
            background-color: #196a2f;

            &::before{
                background-color: var(--ledWon);
            }
        }

        &-orange{
            background-color: #840b12;
            transform: translateX(30px);
            &::before{
                background-color: var(--ledLose);
            }
        }
    }
    
    .answers-container{
        //justify-self: right;
        background-color: #e2e213;
        border-radius: 30px;
        border: 3px solid black;
        grid-column: 1/4;
        padding: 0 30px 0 30px;
        margin-bottom: 20px;
        margin-left: 40px;
        ul{
            font-size: 24px;
        }   
    }
}

.botton-pad{
    grid-column: 4/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 3vw 3vw 3vw 3vw;
    grid-template-rows: 3vw 3vw 3vw 3vw;
    .pad-button{
        width: 3vw;
        height: 3vw;
        background-color: #086364;
        border: 3px solid black;
        border-radius: 10px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 3vw;
            height: 3vw;
            background-color: #004e50;
            border: 3px solid black;
            border-radius: 10px;
            left: 1px;
            bottom: 1px;
        }
    }
    
    .pad-top{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border-bottom: none;
        &::before{
            border-bottom: none;
        }
    }

    .pad-right{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        border-left: none;
        &::before{
            border-left: none;
        }
    }

    .pad-bottom{
        grid-column: 2 / 3;
        grid-row: 3 / 4;        
        border-top: none;
        &::before{
            border-top: none;
        }
    }

    .pad-left{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-right: none;
        z-index: 110;
        &::before{
            border-right: none;
        }
    }

    .pad-center{
        grid-column: 2/3;
        grid-row: 2/3;
        border: none;
        z-index: 100;
        left: 3px;
        background-color: #004e50;
        &::before{
            border: none;
            background-color: #004e50;
        }
    }
}

.top2{
    //clip-path: polygon(54% 40%, 100% 40%, 100% 0, 0% 0%, 0% 100%, 33% 100%);
    //clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
    clip-path: polygon(0 0, 0 40%, 46% 40%, 70% 100%, 100% 100%, 100% 0);
}

.top-circles2{
    //clip-path: polygon(54% 40%, 100% 40%, 100% 0, 0% 0%, 0% 100%, 33% 100%);
    //clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 54% 40%, 100% 40%, 100% 0);
    clip-path: polygon(0 0, 0 40%, 46% 40%, 70% 100%, 100% 100%, 100% 0);
}