.game{

    width: 50%;
    //height: 100%;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;

    &__image{
        width: 40%;
        display: block;
        margin: 0 auto 0 auto;
        padding: 20px;
        filter: brightness(0);
        z-index: 91;

        &--show{
            transition: filter 1s;
            filter: brightness(1);
            animation-name: caught;
            animation-duration: 0.5s;
            animation-delay: 2s;
        }
        &--error{
            transition: transform 1s;
            transform: translateX(-40vw);
        }

    }

    &__answers{
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        text-align: center;
        line-height: 2;
        font-size: 2rem;
        color: var(--white);
        text-transform: capitalize;
        letter-spacing: 6px; 

        & li {
            cursor: pointer;
            transition: transform 0.2s, color 0.2s;

            &:hover{
                color: var(--yellow);
                -webkit-text-stroke: 2px var(--blue);
                transform: scale(1.1);
            }
        }
    }
}

// .caught{
//     animation: ;
// }

@keyframes caught{
    from{
        filter: contrast(100%);
    }
    to{
        filter: contrast(0%);
    }
}

.game-container{
    
}
@media (min-width: 1281px) {
    .game-container{
        //width: 70%;
        //margin-left: auto;
        //margin-right: auto;

    }
}